[2018-03-23 21:25] MeghanHughes opened #1 "Webpack config"
https://github.com/WhareHauora/App/blob/33f7642116ee11d9086cc72f6646fbd5d61c57c7/next.config.js#L4

I am trying to fix the error which returns:
[code]
I found this which suggested we need to set up a next.js.config file and use it to customise webpack
(https://github.com/firebase/firebaseui-web/issues/163)
by adding this rule:
[code]

And here is the link to the next.js docs for config
(https://gi

[2018-04-09 04:41] #1 closed

[2018-04-09 10:55] MeghanHughes opened #10 "Layout issues"
https://github.com/WhareHauora/App/blob/33eecd375c6d343cd940bbc8962c9f549afe526c/components/genApp/Layouts.js#L6

~~- The heading font Merriweather Serif isn't appearing in the components. though it is in `styles/style.js`~~ FIXED
- Mobile view needs work - I have added ticket in Asana. The Header component isn't visible in mobile view - need to set the Menu also.

[2018-04-10 05:02] MeghanHughes opened #12 "Menu hamburger"
The menu hamburger in the mobile view needs to be done so it expands/collapses.

[2018-04-10 23:59] MeghanHughes opened #14 "Notifications allow"
Currently when the page is opened for the first time a browser popup appears asking to allow notifications. This doesn't actually allow the notifications - these are enable through the Enable button.
![screen shot 2018-04-11 at 11 48 24 am](https://user-images.githubusercontent.com/22287063/38589548-b7218172-3d7f-11e8-99d8-f029637dc2b9.png)

[2018-04-11 03:53] janie-t opened #18 "Dashboard > My Account > Notifications check boxes"
Checkboxes not appearing

[2018-04-11 06:05] MeghanHughes commented on #18
App/components/profile/account/Preferences.js

[2018-04-11 10:09] MeghanHughes opened #19 "As a user, I can dismiss Warnings by clicking on Dismiss Alert"
https://github.com/WhareHauora/App/blob/d4a75e2f914460103d4c2e545bda02baa2901d1a/components/room/roomDetail/HealthAlert.js#L10

[2018-04-11 22:48] MeghanHughes opened #23 "As a user, when I go to the Dashboard I can see if any of the rooms have alerts"
https://github.com/WhareHauora/App/blob/f5aed56f1671a95c45cbf49d01f208e819855530/components/room/CardSummary.js#L11

[2018-04-11 22:51] MeghanHughes opened #25 "Warning messages for each notification scenario"
We are calling this component "ChecklistMsg"
find it in:
``App/components/room/roomDetail/ReportCard.js``

Specifically we are needing content for all instances of:

![screenshot at 2018-04-13 10-17-06](https://user-images.githubusercontent.com/22287063/38707097-fc80f8f8-3f03-11e8-8894-085b4ad57b29.png)

This also relates to Notification Styling issue (https://github.com/WhareHauora/App/issues/31)

[2018-04-11 23:00] MeghanHughes opened #26 "As a user, when I go to the Dashboard, I see a summary of each room, including Temp, Humidity, Dewpoint."
![screenshot at 2018-04-13 09-28-04](https://user-images.githubusercontent.com/22287063/38705232-fe9d3b9e-3efc-11e8-8bc5-ac0d777412b5.png)

The basics are set up in
``App/components/room/CardSummary.js``
https://github.com/WhareHauora/App/blob/6f7dc0ccea3dabae6ffc9777b7511a8ccc39532b/components/room/CardSummary.js#L11

but the CardSummary doesn't have dew point - that is info given inside
``App/co

[2018-04-11 23:03] MeghanHughes opened #27 "As a user, when I go to a Room, I can click on a button and get information about how to fix the Warning Message"
App/components/room/roomDetail/ReportCard.js
https://github.com/WhareHauora/App/blob/13c67e4e9e9862be42b773ce8286a556739aa175/components/room/roomDetail/ReportCard.js#L1
![warnings](https://user-images.githubusercontent.com/22287063/38652148-ba5fa632-3e58-11e8-97d6-6386a2d7ad31.png)

[2018-04-12 02:03] MeghanHughes commented on #27
[ ] develop ratings algorithm
[ ] connect to room profile
[ ] *when sensor readings /over time/ conclude the room needs a warning, the correct warning for that reading is displayed*
[ ]  Connect 'Learn how to fix this' to an infobox/checklist
[ ] info tooltips

[2018-04-12 02:19] MeghanHughes opened #28 "layout in desktop view"
![screenshot at 2018-04-12 14-15-05](https://user-images.githubusercontent.com/22287063/38652968-6f97d328-3e5c-11e8-95e5-54bb6a1c625e.png)

[2018-04-12 06:35] MeghanHughes commented on #27
Hey @Br3nda what do you think about the following options for what happens when the "Learn to fix this" option is clicked on?

1. the 'Learn to fix this' link could open a **new page** with the relevant info components dynamically loaded.
2. there could be a **info card on the room page** relevant to the report card (so user would not have to navigate away from the summary page to get info, or hav

[2018-04-12 10:32] MeghanHughes commented on #28
FIXED
6f7dc0ccea3dabae6ffc9777b7511a8ccc39532b

[2018-04-12 10:32] #28 closed

[2018-04-12 10:59] MeghanHughes commented on #12
Offending code
https://github.com/WhareHauora/App/blob/6f7dc0ccea3dabae6ffc9777b7511a8ccc39532b/components/styles/style.js#L215

[2018-04-12 21:35] MeghanHughes commented on #26
Currently these cards are dynamically rendered in
``App/pages/room.js``

[code]

[2018-04-12 21:46] MeghanHughes commented on #25
A good resource for formatting push notifications is [this] (https://web-push-book.gauntface.com/demos/notification-examples/)

I think one that has actions is a good idea, for example (from above link)
![screenshot at 2018-04-13 09-44-16](https://user-images.githubusercontent.com/22287063/38705894-47d8b5fc-3eff-11e8-99ed-8713cea4c7bd.png)

Where the options for actions could be "Tell me more info

[2018-04-12 21:50] MeghanHughes commented on #25
Hey @Br3nda we need some content for the notification scenarios. I'm thinking we would only send alerts to inform users that:
'(x) room is too hot'
'(x) room is too cold'
'(x) room is too humid'
'(x) room has critical dewpoint'
??
I can build the alert message components with the above examples for now and we can change wording later if you want?

[2018-04-12 22:12] MeghanHughes opened #31 "Notifications styling"
the format and text for push notifications are housed here: https://github.com/WhareHauora/App/blob/f5aed56f1671a95c45cbf49d01f208e819855530/muted-sw/service-worker.js#L32

A good resource for formatting push notifications is [this] (https://web-push-book.gauntface.com/demos/notification-examples/)

I think one that has actions is a good idea, for example (from above link)
![screenshot at 2018-04-

[2018-04-13 00:47] MeghanHughes opened #33 "Room use keys"
We need a review of roomUse keys and a full list of all options.
``wharehauora-frontend/rooms.html``

It doesn't appear to be inside the current api response??

[code]

[2018-04-13 02:00] MeghanHughes opened #34 "Push notification registration - move into Preferences"
Need to move from ``App/components/profile/Dashboard.js`` to ``App/components/profile/account/Preferences.js``

[2018-04-16 04:22] MeghanHughes opened #35 "Menu throwing error in /set-up/rooms"
https://github.com/WhareHauora/App/blob/e16657385eb3e9cd140c1221cf25758eed8aec24/components/profile/setUp/Rooms.js#L29

``Cannot read property 'name' of undefined
    at Menu (Menu.js:5)``

[2018-04-16 23:52] MeghanHughes commented on #35
Also in `/room/:id`.
I suspect this has something to do with the way the props are passed down from `Dashboard.js` to `Menu.js`

[2018-04-16 23:53] MeghanHughes commented on #35
``Dashboard.js``
[code]

[2018-04-17 01:06] MeghanHughes opened #36 "Write function for Warning Message - list only if"
https://github.com/WhareHauora/App/blob/86335c15d73f005bb70335448392faa73db2d1e0/components/room/roomDetail/ReportCard.js#L44

[2018-04-17 01:12] MeghanHughes opened #37 "content for report card grades"
https://github.com/WhareHauora/App/blob/bf768c48cb6f9d6334536a95cb3b10bfe20ff26b/components/room/roomDetail/ReportCard.js#L37

Need to have content for all grade options

[2018-04-17 01:13] MeghanHughes commented on #37
[code]

[2018-04-17 01:14] MeghanHughes commented on #37
![screenshot at 2018-04-17 13-13-46](https://user-images.githubusercontent.com/22287063/38843001-303300f2-4241-11e8-8eae-c0d843331f3b.png)

[2018-04-17 02:27] MeghanHughes commented on #36
Conditional operator

[2018-04-18 01:59] #10 closed

[2018-04-18 02:14] MeghanHughes opened #39 "New Dev branch desktop view"
![screenshot at 2018-04-18 14-13-16](https://user-images.githubusercontent.com/22287063/38908056-b553ca56-4312-11e8-8ef0-fe03e8dca9c1.png)
![screenshot at 2018-04-18 14-13-07](https://user-images.githubusercontent.com/22287063/38908057-b9b481a8-4312-11e8-83e4-8dc7933f9059.png)

[2018-04-18 02:50] janie-t commented on #39
![screen shot 2018-04-18 at 2 48 21 pm](https://user-images.githubusercontent.com/19628512/38909175-a059ef9a-4317-11e8-89d3-aa6ad4281482.png)

[2018-04-18 02:50] janie-t commented on #39
At 1600px
![screen shot 2018-04-18 at 2 50 25 pm](https://user-images.githubusercontent.com/19628512/38909237-e3be6fc2-4317-11e8-91c4-59c3b7aaa143.png)

[2018-04-18 03:25] MeghanHughes commented on #36
![screenshot at 2018-04-18 15-23-58](https://user-images.githubusercontent.com/22287063/38910293-c2612b62-431c-11e8-874f-8c996e8a1f08.png)

[2018-04-18 23:35] #35 closed

[2018-04-19 08:00] #39 closed

[2018-04-19 08:03] #26 closed

[2018-04-19 08:06] MeghanHughes commented on #23
This has been done as far as it is instructed in the frontend docs. But do we want to have a more obvious icon/notification of alerts for rooms on the dashboard?

[2018-04-19 08:15] MeghanHughes commented on #37
| Grade        | Label          |
| ------------- |:-------------:|
| A      | Excellent      |
| B      |      ?      ?     |
| C      | Mediocre      |
| F      | Very Poor      |

[2018-04-19 08:25] MeghanHughes commented on #18
This issue also refers to [issue34](https://github.com/WhareHauora/App/issues/34)

[2018-04-19 08:29] MeghanHughes opened #40 "As a user I can add a new room, whare and whanau and edit existing records"
Set up Set Up pages to CUD rooms, whare, whanau
[The files are located in >components>profile>setUp](https://github.com/WhareHauora/App/tree/Development/components/profile/setUp)

[2018-04-19 08:50] MeghanHughes opened #41 "As a user I can view a graph of my sensor readings"
App/components/room/roomDetail/Readings.js

![screenshot at 2018-04-19 20-50-18](https://user-images.githubusercontent.com/22287063/38981347-49dc3248-4413-11e8-903a-2e2b69ff3041.png)

[2018-04-19 08:52] MeghanHughes commented on #41
graph making resources:
https://plot.ly/javascript/react/
http://www.chartjs.org/samples/latest/
https://github.com/reactjs/react-chartjs

[2018-04-19 09:02] MeghanHughes commented on #41
We need to provide options on this - the graph depends on a history of sensor readings. What happens when a User has just set up the system? The current frontend example has only one graph plot per day - not so helpful - and which reading is selected?

Options ->

- x-axis

 represents a week, divided into days; y-axis shows readings taken every hour. That way you see what happens overnight, and o

[2018-04-19 09:06] MeghanHughes opened #42 "background image why....why???? won't it work?"
https://github.com/WhareHauora/App/blob/eaa39c0cb93b3aefc7fa903891528ae38888cdfe/components/room/roomDetail/HealthAlert.js#L1

[2018-04-19 09:16] MeghanHughes opened #43 "Radio buttons aren't rendering"
https://github.com/WhareHauora/App/blob/c4d7af303b4fa1961e6389883976f9eceef84829/components/profile/setUp/AddRoomModal.js#L15
Really don't understand this. I set up a basic [React Form](https://www.npmjs.com/package/react-form) and I COULD NOT get the radio buttons to render when the other form elements would. Drove me nuts!

[2018-04-19 09:18] MeghanHughes commented on #43
Janie has documented checkboxes not rendering either - maybe somehow related? If so it might be likely a `<div class` issue and then something needs fixing in the `style.js`?

[2018-04-20 00:01] MeghanHughes commented on #40
Need to fix the button styling - had to change <a> to <button> to get onClick happening
![screenshot at 2018-04-20 12-00-57](https://user-images.githubusercontent.com/22287063/39024054-8222aa0e-4492-11e8-8859-a3a5bb06cc5b.png)

[2018-04-20 00:02] #14 closed

[2018-04-20 02:04] MeghanHughes commented on #12
Can we just use this? http://www.material-ui.com/#/components/popover

[2018-04-20 03:42] janie-t commented on #43
Can see the checkbox images render for a second then they disappear - may have connection to icheck? Tried bringing in all scripts but still not working.

[2018-04-23 08:17] Br3nda commented on #33
i think that's room_type_id.

[2018-04-24 07:11] MeghanHughes commented on #43
Hey @janie-t should we ask for access to the designer for this?

[2018-04-24 07:30] MeghanHughes opened #48 "Add axios"
Here is the mod link
https://www.npmjs.com/package/axios
Currently we are using https://www.jsdelivr.com/package/npm/isomorphic-unfetch but now I am looking at it it doesn't have any good docs (not even on npm) so let's change over to Axios

[2018-04-24 07:32] MeghanHughes commented on #48
IHey @iainkirkpatrick was there's any particular reason we used this initially (it was for the service worker setup) rather than Axios...? Brenda has requested Axios because she is familiar with it

[2018-04-26 00:13] MeghanHughes commented on #48
axios is added in @Br3nda's pull request #49

[2018-04-26 00:15] MeghanHughes commented on #48
Need to change to axios in `pages/index.js`

[2018-04-26 00:23] MeghanHughes opened #51 "Reinstate service workers"
Need to wait until we have the front-end complete and the server connected.

[2018-04-26 00:55] MeghanHughes opened #52 "new user registration"
I'm just looking into the user flow for registering as a new user to get the setup process started.

Hey @Br3nda do we have a user table set up in the db? I can't see how to POST to it in the [postman docs](https://documenter.getpostman.com/view/3560032/wharehauora/RVnb9wYN#intro)

[2018-04-26 01:07] MeghanHughes commented on #52
@Br3nda Another question: what is the purpose of the whānau page? or, rather, what is the purpose of signing up individual members of the whare?

[2018-04-26 02:05] MeghanHughes commented on #52
Ok so here is a suggestion.

**Step 1:**
![screenshot at 2018-04-26 13-51-18](https://user-images.githubusercontent.com/22287063/39281578-8533a600-4959-11e8-9ee4-414ab63399e9.png)

| User        | Client-side           | Back-end  |
| ------------- |:-------------:| -----:|
| gives email address and a password and accepts T&C     | renders ![screenshot at 2018-04-26 13-58-20](https://user-images.g

[2018-04-26 02:08] MeghanHughes commented on #52
**Step 2:**
| User        | Client-side           | Back-end  |
| ------------- |:-------------:| -----:|
| goes to email and clicks on confirmation link     | redirects to a setup wizard | -- |

We could greet them on the page with a stepper summary of what they need to set up, like
![screenshot at 2018-04-26 13-33-07](https://user-images.githubusercontent.com/22287063/39281920-377cd8b2-495b-11e8

[2018-04-26 02:14] MeghanHughes commented on #52
**Step 3:**

| User        | Client-side           | Back-end  |
| ------------- |:-------------:| -----:|
| finishes Account profile info | renders ![screenshot at 2018-04-26 13-54-02](https://user-images.githubusercontent.com/22287063/39282077-fb94dcb8-495b-11e8-884e-9def48f85447.png) | adds first_name, last_name |

[2018-04-26 02:16] MeghanHughes commented on #52
**Step 4:**

| User        | Client-side           | Back-end  |
| ------------- |:-------------:| -----:|
| adds Whare info | renders ![screenshot at 2018-04-26 13-18-49](https://user-images.githubusercontent.com/22287063/39282145-3b12244a-495c-11e8-8346-6a189e9634ae.png)| adds whare_name, property_type |

[2018-04-26 02:17] MeghanHughes commented on #52
**Step 5:**

| User        | Client-side           | Back-end  |
| ------------- |:-------------:| -----:|
| adds room info | renders ![screenshot at 2018-04-26 13-52-58](https://user-images.githubusercontent.com/22287063/39282186-7afaae24-495c-11e8-8c1e-0f5e0509b772.png) | adds room_name, room_type |

[2018-04-26 02:27] MeghanHughes commented on #52
**Step 7:**
Maybe have a spinner while data is being collected and rendered.

| User        | Client-side           | Back-end  |
| ------------- |:-------------:| -----:|
| can review info in dashboard | renders
![screenshot at 2018-04-26 14-25-25](https://user-images.githubusercontent.com/22287063/39282500-bac3ac30-495d-11e8-98c3-0543dc7f42b1.png)
 | adds first data set into the sensor history |

[2018-04-26 02:29] MeghanHughes commented on #52
User will also be able to navigate to room profile pages BUT there will be limited information available until a history of sensor readings is created.
![screenshot at 2018-04-26 14-28-49](https://user-images.githubusercontent.com/22287063/39282616-31129540-495e-11e8-9783-38c7d8d4e150.png)

[2018-04-26 03:36] Br3nda commented on #52
The purpose is for each user to have their own account, rather than sharing a password.
Think of it as someone sharing the account with their partner, but later that partner leaves the relationship. The primary account holder than add/remove that partner's account from the home if she no longer wants them to know the environmental conditions in their home. Because you can extrapolate whether someo

[2018-04-26 05:05] MeghanHughes commented on #52
That's a really good point!!
So - one whare can have many members and each member get access to the same account information (of that whare). And they all get the same admin access to changing details about the whare profile (which includes rooms and whanau members) And so they can also all decide on what notifications they want - some might not want any (if, maybe, there is just one person who is

[2018-04-26 06:58] MeghanHughes commented on #52
@Br3nda do you think a good flow would be to set up a one-off setup process, so that the personal account profile, whare, room and whanau components are all on a single page (rather than account on one page, whare+rooms on one page, whanau on a separate page)? Alternatively, one can flow on to another in the setup process, with a stepper to show progress.

[2018-04-26 07:56] Br3nda commented on #52
All in one page sounds good to me. I had only separated them because i buokt the data model that way, which is not a good reason.

[2018-04-27 02:47] #12 closed

[2018-04-27 07:52] MeghanHughes commented on #18
@janie-t the `-document.js` is documented [here](https://github.com/zeit/next.js/#custom-document) in the next.js docs

[2018-04-27 08:11] MeghanHughes commented on #18
`script src="../static/js/modernizr-2.8.3.js" `
?

[2018-04-27 22:49] MeghanHughes commented on #52
Ok I am going to start breaking this down a little
- [ ] set up CRUD routes @Br3nda (or are they already set up?)
- [ ] design front end page for initial setup form (Meghan)
- [ ] create email confirmation and link to set up form (@Br3nda how does the server handle this? Ruby has some kind of mailer gem?)
- [ ] connect the datapoints to db (Meghan and @anna-marie-vos - once we have details about t

[2018-04-28 01:44] MeghanHughes opened #54 "https://github.com/WhareHauora/App/tree/mh/noMoreJquery"
So I got so mad at the checkboxes and radio buttons not working that I purged them so I can work on my form component.

Here is the branch I did it on (https://github.com/WhareHauora/App/tree/mh/noMoreJquery)

They appear now but they are super ugly. It can't be hard to recreate them in pure CSS though..... @janie-t ?? You up for it? I won't be able to do a pull request for my initial set up branc

[2018-04-28 06:28] Br3nda commented on #52
Yes, the server will email on user creation.

Currently, you only need to pair the gateway to your account, not each and every sensor.
You tell a sensor what account it is to use when you turn it on.

There's the login example in the PR i sent. Once you have a session, you get both a cookie and a token in the response. Either is good enough to use on the next request.

[2018-04-28 06:31] MeghanHughes commented on #52
Ok so I have set up a one page initial set up page on [this branch](https://github.com/WhareHauora/App/tree/mh/initialSetUp)
and you can view it on route `/set-up`
I have added [Final Form](https://github.com/final-form/) and use that to build the react form components.
At the moment, the user inputs are held in state in state>values. I have set up each component with it's own react form (I don't

[2018-04-28 06:40] Br3nda commented on #52
I don't think there are API methods for new registrations yet. We were thinking we give people an account when we give them sensors (there's was no need to have every person who found us on the internet sign up when they don't have a device).

@Kamikazilady is that still the plan/thinking. Do you want full user sign up?

[2018-04-28 06:54] MeghanHughes commented on #52
Ah ok - the page is (pretty much - needs more styling) set up so in order to get a full user sign up working we would just need the CRUD routes and connect the inputs to the db tables.
But also - are their POST, UPDATE and DELETE routes set up for the rooms, whare and whanau?

[2018-04-28 06:55] Kamikazilady commented on #52
The user should be able to sign up when they receive their sensors.
Everything about the process as per previous emails is good.

I'll run a "newsletter" sign up separately, does that answer the question?

I did realise though that we're not capturing housing building types ie
brick, cladding etc but at this stage we don't know it and it's gonna need
a lot of analysis and ux to be easy for the use

[2018-04-28 07:00] MeghanHughes commented on #52
@Kamikazilady what is the newsletter sign up?

[2018-04-29 01:58] MeghanHughes commented on #41
I have set up a basic graph with [React-Vis](https://uber.github.io/react-vis/documentation/welcome-to-react-vis) on this branch https://github.com/WhareHauora/App/tree/mh/sensorGraph
It looks a bit spartan at the moment!
![screenshot at 2018-04-29 13-52-25](https://user-images.githubusercontent.com/22287063/39402480-91e13504-4bb4-11e8-9be6-c2d927ffde66.png)

here's a list of things I need to figu

[2018-04-29 02:01] MeghanHughes commented on #41
From the example graph in the frontend docs I think I see a couple of things going on.

- Straight up temp/humid plot reading
- Colour signals when a reading triggers an alert (?)

[2018-04-30 08:29] janie-t opened #58 "Dashboard > Click on Analyse button has no link"
Link this button to the relevant room

[2018-04-30 08:45] janie-t opened #59 "User login/register flow - how do they register initially?"
What is the purpose of the My Account form?

[2018-04-30 08:48] #59 closed

[2018-04-30 08:49] janie-t opened #60 "delete the Sign Up section on landing page"

[2018-04-30 08:55] janie-t opened #61 "Deploy to heroku"
Get this up to heroku officially

[2018-04-30 09:50] #42 closed

[2018-04-30 09:53] #60 closed

[2018-04-30 09:57] janie-t commented on #58
Doing this currently

[2018-04-30 10:35] janie-t opened #65 "Back arrow needs to return to previous screen"
https://github.com/WhareHauora/App/blob/35d1346c0348bce597783cf00568ecbe401bc8a2/components/room/RoomDetail.js#L16

[2018-05-01 08:27] anna-marie-vos commented on #65
I am working on this one.

[2018-05-01 08:53] anna-marie-vos commented on #65
The solution is to change the The `href='#'` with an `href ='/dashboard'`

[2018-05-01 09:32] janie-t commented on #19
Currently doing

[2018-05-03 23:50] anna-marie-vos opened #67 "Timestamps"
so we want to display when the data was updated at and not the timestamp itself

[2018-05-04 00:43] janie-t opened #68 "Need a history of readings to create the graph"
Is this data already stored somewhere in the database?

[2018-05-04 03:10] Br3nda commented on #68
The API method is https://app.wharehauora.nz/api/v1/rooms/{{room_id}}/readings
But i see it return an error for me right now. I can look at it tommorrow.

[2018-05-04 22:39] MeghanHughes opened #75 "dynamic page rendering not working"
So, in the `dashboard.js` page we have props being sent to `components/genApp/Menu.js` like this:

[code]
and then in Menu we map through the room names using the next.js `PostLink` component like this

[code]

So are rendering the list of room names in the Menu bar, but when you click on it should take you to a dynamic route and render `components/room/RoomDetails` but instead it is throwing an e

[2018-05-04 22:42] MeghanHughes commented on #75
Check out my branch mh/roomApiRequests

and here are the relevant files:
App/components/genApp/Menu.js
App/components/room/RoomDetail.js
App/pages/dashboard.js

It is VERY annoying that Next.js don't have any docs on the PostLink component, but you can see an example of how it is used here:
https://nextjs.org/learn/basics/create-dynamic-pages

[2018-05-04 22:52] MeghanHughes commented on #52
Hi @Br3nda and @Kamikazilady can I just clarify the need for create, update and delete methods for the rooms, whare and whanau pages.
We can read these out of the database, but if we are to let users add, edit and delete these we need to set up CUD routes to the server?

[2018-05-04 22:56] MeghanHughes commented on #51
Should have kept a separate branch with this set up but will just need to head back to [here](https://github.com/WhareHauora/App/commit/2b352311729eb6eca564528538d8d39e812ae423) and reinstate with updated paths

[2018-05-04 23:00] MeghanHughes commented on #68
Relates to https://github.com/WhareHauora/App/issues/41

[2018-05-05 00:35] Kamikazilady commented on #52
Heya,

Yes we're going to need to, otherwise it's a one shot deal.

Can you estimate the time needed and we'll talk about this on Monday?

Then we can make plan from there on the work we still need to get done,
cool?

I don't know how to tell Janie and Anna Marie that. Could you

My apologies, we needed to set the scope better, it's obvious we've gone
over, i should have kept a closer eye, its coo

[2018-05-05 22:32] MeghanHughes commented on #75
I think I identified the problem and it's quite obvious.
We have to make an api call in `pages/room` to https://app.wharehauora.nz/api/v1/rooms/{{room_id}} in order to get the details of a specific room, and we need to then pass that to the `RoomDetails.js` component which will pass it down to `ReportCard.js`.

[2018-05-05 22:54] MeghanHughes commented on #52
All good @Kamikazilady !

We are so very close! We got held up on an bug that popped up on Friday but we should have that fixed by tomorrow.

Ka kite anō!

[2018-05-05 22:54] #54 closed

[2018-05-05 22:55] MeghanHughes commented on #43
@janie-t can we close this issue? and #54?

[2018-05-05 23:00] MeghanHughes commented on #18
@janie-t can we close this one too?

[2018-05-05 23:00] #23 closed

[2018-05-06 04:14] MeghanHughes commented on #75
@anna-marie-vos is tying out `_app.js` again. We think that this might be the key to unblocking this, but also a much more efficient use of using the REST client. At the moment we are making api calls (often for the same data) in EVERY `page` load. So we are make new requests every time the user goes to a different view. It would be ideal to have all calls made in one pass that holds the data in s

[2018-05-06 23:57] Br3nda commented on #68
That api method should work now

[2018-05-07 06:47] MeghanHughes commented on #68
Hey @anna-marie-vos I still get error when I try this method - can you try? In case it's just me lol

[2018-05-07 07:06] MeghanHughes opened #76 "Enter on login"
I reckon when you enter your user name and password if you just press enter (instead of pressing 'Login' button) you should still have your login sent.

[2018-05-08 22:08] MeghanHughes commented on #68
Hey @Br3nda I still get a 500 when I make a call to https://app.wharehauora.nz/api/v1/rooms/5/readings

[2018-05-08 22:10] MeghanHughes opened #77 "styling - CardSummary grid"
Frontend example has three card-lines
![screenshot at 2018-05-09 10-09-14](https://user-images.githubusercontent.com/22287063/39785687-2bd91262-5371-11e8-82f9-abcbdd8c1fb8.png)

At the moment we only have two
![screenshot at 2018-05-09 10-09-33](https://user-images.githubusercontent.com/22287063/39785703-39113716-5371-11e8-9e78-c1dffcdd1d58.png)

[2018-05-08 22:59] MeghanHughes commented on #75
Ok I figured it out. While I was sleeping. Case closed

[2018-05-08 22:59] #75 closed

[2018-05-08 23:30] MeghanHughes opened #79 "Grade not working"
in components/room/ReportCard.js the grade is coming through from the database. It should pass in with {props.room.grade}

https://github.com/WhareHauora/App/blob/f12538df1f40dd84a3bc9e1f30fd6ee822c9e05e/components/room/roomDetail/ReportCard.js#L36

[2018-05-08 23:43] MeghanHughes commented on #76
https://stackoverflow.com/questions/31272207/to-call-onchange-event-after-pressing-enter-key

[2018-05-09 08:26] janie-t opened #81 "User can edit Account preferences"
Ticking or unticking checkboxs in Account,  allows user to edit their preferences.  Preferences can be saved.
https://github.com/WhareHauora/App/blob/85b9fe236f905415b136c123b8b65c458c626788/components/profile/account/Preferences.js#L42

[2018-05-10 02:05] MeghanHughes opened #83 "whare and room types"
need to add home and room types to api

[2018-05-10 02:24] MeghanHughes opened #84 "zGateway not rendering"
Only room that isn't reading the data. Only room that has multiple sensors - is this why?

[2018-05-10 09:29] #77 closed

[2018-05-10 20:12] Br3nda commented on #68
Api pull request is waiting for review.
https://github.com/WhareHauora/wharehauora-server/pull/385

[2018-05-10 22:46] Br3nda commented on #68
the linked pull request also has CRUD methods

This might be useful too:
this looks useful for next project https://github.com/redux-json-api/redux-json-api
(but only if you use redux, so immv)

[2018-05-10 22:46] Br3nda commented on #68
i'm gonna wait for midday to see if i can get a review from anyone.. and if not i'll push the merge and get the new api methods on the server for you

[2018-05-11 02:26] MeghanHughes opened #87 "Account page rethink?"
Current Account page based on UI designs:
![screenshot at 2018-05-11 14-18-15](https://user-images.githubusercontent.com/22287063/39903324-beb3f078-5526-11e8-9fbd-7bd864f73b46.png)

We need a user table to access through the api to return the user's name and email address
We might want to give an option for changing the email address?
Also, maybe change the password option into a ternary and put u

[2018-05-11 02:33] #18 closed

[2018-05-11 02:36] MeghanHughes opened #88 "There is nothing in the /help page?"
In the Menu>Account>Help
there isn't anything
and there isn't anything in the frontend design docs

[2018-05-14 04:30] MeghanHughes commented on #83
Hey @Br3nda i think you have added these methods to the api, could you add them to the Postman docs?

[2018-05-15 07:45] anna-marie-vos commented on #41
If we have a sample json object of the graph data I do a similar function (than what i did for the other data) so we can reformat it if needed.

[2018-05-15 07:46] #43 closed

[2018-05-15 09:12] janie-t commented on #76
Done

[2018-05-15 09:12] #76 closed

[2018-05-17 21:06] MeghanHughes commented on #41
Brenda has done the api method for  getting a week's worth of sensor readings.

Check them out here: https://documenter.getpostman.com/view/3560032/wharehauora/RVnb9wYN#e4e97046-75d4-b54e-c705-c815cdd6c731

[2018-05-17 21:12] MeghanHughes commented on #40
@Br3nda has added an api method for posting a new room so let's get that one up.
https://documenter.getpostman.com/view/3560032/wharehauora/RVnb9wYN#0f1885d2-22d1-172a-fbb2-90856ba733a7

[2018-05-17 21:14] MeghanHughes commented on #40
So - we use [Final Form] (https://github.com/final-form/react-final-form#examples) as the component library for the form elements.

[2018-05-17 22:06] anna-marie-vos commented on #41
@Br3nda the weeks worth of data seems to only have node point id's, and sensor relationships. Do we need to make API calls to each node to get the timestamps and readings? Or is it be possible to return timestamps and readings for each sensor for a period of 1 week? :)

[2018-05-17 22:08] anna-marie-vos commented on #84
looking at it now

[2018-05-17 22:29] anna-marie-vos commented on #84
The zGateway do not have any readings to render.
`readings: {
dewpoint: null,
humidity: null,
temperature: null
}`

[2018-05-17 22:31] #84 closed

[2018-05-17 22:32] anna-marie-vos commented on #79
looking at it now

[2018-05-18 00:26] #79 closed

[2018-05-18 04:39] #81 closed

[2018-05-18 04:41] MeghanHughes commented on #61
Cool - good luck! lol ;-)

[2018-05-18 04:43] #51 closed

[2018-05-18 04:49] #37 closed

[2018-05-18 04:50] MeghanHughes commented on #36
@Br3nda @Kamikazilady
We don't have any content for the 'Learn to fix this' links as far as I know??

[2018-05-18 04:50] #34 closed

[2018-05-18 04:51] #33 closed

[2018-05-18 04:52] MeghanHughes commented on #31
@janie-t you could have a go at this if ya want?

[2018-05-18 04:55] MeghanHughes commented on #27
This refers also to #36

[2018-05-18 04:55] #25 closed

[2018-05-18 04:56] #19 closed

[2018-05-18 04:56] MeghanHughes opened #94 "Disable push notifications"
in `<Preferences />`

[2018-05-18 05:06] #36 closed

[2018-05-18 05:07] MeghanHughes opened #95 "Hamburger menu"
Needs to work

[2018-05-18 05:12] MeghanHughes opened #96 "single api call in _app.js"
Need this in order to make PWA proper and work offline

[2018-05-18 06:36] MeghanHughes commented on #40
@Br3nda could you document these CRUD routes in the Postman docs?

[2018-05-19 22:34] anna-marie-vos commented on #96
I'm working on this now.

[2018-05-20 03:06] anna-marie-vos commented on #96
I've added a new branch [av/_appjs](https://github.com/WhareHauora/App/blob/av/_appjs/pages/_app.js)
I've create a new component in _app.js called "Layout" in which I make the API call and populate the props line 19-66. I did this because I was having trouble to get the 'req' variable.
`Layout.getInitialProps = async function ({ req }) {...}`
I want to do [this](https://medium.com/@ruthmpardee/pas

[2018-05-22 07:31] anna-marie-vos commented on #95
The hamburger menu works.

[2018-05-22 07:31] #95 closed

[2018-05-22 07:33] anna-marie-vos opened #98 "X-button on the hamburger menu"
The x-button on the hamburger menu does not  work correctly yet. It closes the menu for a split second and then opens the menu again.

[2018-05-22 22:13] janie-t commented on #40
Currently no component for Adding a new Whare in the Rooms & Whare page.

[2018-05-22 22:15] janie-t commented on #98
Is this still an issue? Seems to be working for me....

[2018-05-22 22:17] janie-t commented on #98
Main problem is that the Menu opens again when the new page/view renders

[2018-05-22 22:17] janie-t commented on #98
I'm going to work on this today

[2018-05-22 22:36] janie-t opened #99 "Time delay in rendering new view"
Takes a long time to go to new route (see in URL bar)

[2018-05-22 22:42] MeghanHughes commented on #40
Yeah there is @janie-t it is in `Components/profile/set-up/AddWhareModal`
it is activated by a ternary in `WhareList` which is imported in to `Rooms` but I have just noticed that when it expands the page doesn't move down so it looks like it doesn't open anything...

[2018-05-22 22:43] MeghanHughes commented on #40
Also need to hid the Add Whare/Room buttons when the form renders... I'll have a go at that today

[2018-05-23 00:07] #98 closed

[2018-05-23 00:08] janie-t opened #101 "Need a spinner on login and page loads"

[2018-05-23 00:08] janie-t opened #102 "User feedback on login authentication - for success and failure"

[2018-05-23 00:17] Br3nda commented on #40
Sorry i've been without any time to update the docs. It does follow the jsonapi.org spec.

[2018-05-23 07:22] renovate[bot] opened #103 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Preset name not found within published preset config (monorepo:angularmaterial). Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-05-23 09:55] #103 closed

[2018-05-23 21:57] MeghanHughes commented on #99
Yeah this is because we are making all new api reqs every time the user changes to another page. @anna-marie-vos has been working on a fix where we make all the api calls in _app and then pass the data down into the pages components as props. (see https://github.com/WhareHauora/App/tree/av/_appjs - but also note that this branch does not include the work I am doing on finishing off the service wor

[2018-05-24 06:54] #67 closed

[2018-05-27 10:00] Br3nda commented on #41
the URL to get readings looks like this
{{server}}/api/v1/rooms/{{room_id}}/readings?week=2018-02-18

e.g.
https://app.wharehauora.nz/api/v1/rooms/6/readings?week=2018-02-18

[code]

[2018-05-27 10:03] Br3nda commented on #41
The granularity of the readings is set here:
https://github.com/WhareHauora/wharehauora-server/blob/master/app/controllers/api/v1/readings_controller.rb#L14

It's hard coded to hour -- but we could make it a param you pass in if that's better suited.

[2018-05-27 10:13] Br3nda commented on #83
This was merged in here
https://github.com/WhareHauora/wharehauora-server/pull/389

I've added to the postman docs too
Postman is being a bit laggy tonight - not showing all the saves i did, but the home create, home update, room create, room update are all there
https://documenter.getpostman.com/view/3560032/wharehauora/RVnb9wYN#825ef48a-6ff7-391c-84cc-a611a96db371

There's also room_types and ho

[2018-05-27 10:21] Br3nda commented on #87
Pull request for this started at https://github.com/WhareHauora/wharehauora-server/pull/390

[2018-05-27 10:29] Br3nda commented on #87
@amscraig @Kamikazilady We don't currently collect a person's names. This is because we don't have a purpose for this. (we only collect the minimum we need).
So shall we just remove the names from the form?

[2018-05-27 10:31] Br3nda commented on #87
They can edit their email. This wil cause the server to send a confirmation email -- their email won't actually be updated until they follow that link and confirm their email

[2018-05-27 11:00] Br3nda commented on #40
The api PR is merged and on production. The postman docs have examples now.

[2018-05-27 23:48] MeghanHughes commented on #88
@Kamikazilady is on it!

[2018-05-29 02:54] Br3nda opened #105 "Can i turn on a linter here?"
Code style linters have saved me so many times - they find unused variables (usally typos) and duplicate function names and all sorts of humans errors. Are our devs happy with me turning on a linter for this repo?

[2018-05-29 03:03] Br3nda opened #107 "Reviews workflow"
Github has a feature to require a PR has a peer review before it can be merged. I propose we turn that on for this repo. - a PR would need one other dev to approve before it is merged.

[2018-05-29 04:08] Br3nda opened #110 "Static build"
Is there a command to build to a static file?

I saw this is using next which looks like a serverside framework - does this needs a server to run on? or can it be built to a clientside only file?

[2018-05-29 04:40] Br3nda commented on #105
Spoke to @MeghanHughes on the phone -- have turned this on

[2018-05-29 07:05] MeghanHughes commented on #107
Sweet @Br3nda - this is how we roll anyway!

[2018-05-29 07:39] Br3nda commented on #107
I've turned this on now

[2018-05-29 07:39] #107 closed

[2018-05-29 07:40] #105 closed

[2018-05-29 07:40] Br3nda commented on #110
Talked to Megan. The thing I'm looking for is webpack.

[2018-06-01 00:10] #101 closed

[2018-06-01 00:13] janie-t opened #121 "Forgot password link needs api route"

[2018-06-01 00:19] #102 closed

[2018-06-01 00:49] janie-t opened #122 "Room Detail - bullet point and ticks need to render appropriately"
![screen shot 2018-06-01 at 12 46 28 pm](https://user-images.githubusercontent.com/19628512/40815375-32d4ca08-659a-11e8-8677-3bf7bc68eb79.png)

[2018-06-01 01:02] MeghanHughes commented on #99
We are going to leave this as is.
Improvements to latency should be a future enhancement.

[2018-06-01 01:07] #83 closed

[2018-06-01 01:07] #31 closed

[2018-06-01 01:08] #61 closed

[2018-06-01 01:11] MeghanHughes commented on #122
@Br3nda is there a rhyme and reason behind which items in the list get bullet points and which get ticks?

[2018-06-01 01:12] MeghanHughes commented on #110
Hey @Br3nda this should be good to go now. Do you want us to see if it hooks up to gitpages, or do you?

[2018-06-01 01:26] Br3nda commented on #110
Whoever gets to it first :)

[2018-06-01 01:51] anna-marie-vos commented on #96
the previous attempt did not work well with the async way next.js loads pages and handles frontend / server side rendering.
The latest attempt: add the API call in _app.js
`static async getInitialProps ({ Component, router, ctx }) {

}`
using `ctx.req` to access the request.
and then once the call successfully made, using the following modules:
`import {createStore} from "redux";
import {Provider}

[2018-06-01 02:07] MeghanHughes commented on #96
Relevant branch = https://github.com/WhareHauora/App/tree/mh/reinstateSW

[2018-06-01 03:15] Br3nda commented on #122
Adding @Kamikazilady  - to work this one out

[2018-06-01 03:17] anna-marie-vos commented on #96
To test it you have to comment out the API call at Dashboard and change some code so ot to get errors.

[2018-06-07 20:04] Br3nda commented on #110
i'm setting this up and assuming the command i want is `npm run build`

[2018-06-07 20:17] Br3nda commented on #110
i've been trying `next build` and `next export`. neither make any html files i can see. Is there a way to get one? without one how does the browser know what javascript to start? Any clue please.
`next build` was in the package.json
`next export` is mentioned in the page @janie-t linked to here.

[2018-06-07 20:18] Br3nda commented on #110
Also seeing this

[code]

[2018-06-07 23:54] MeghanHughes commented on #110
Hmmm - I am looking into this now @Br3nda I have getting an error `command not found: next` when I run `next build` which is odd to me. @iainkirkpatrick might have an immediate remedy..?

[2018-06-08 00:37] MeghanHughes commented on #110
https://github.com/zeit/next.js/#static-html-export

[2018-06-08 00:43] MeghanHughes commented on #110
`Could not find a valid build in the '.next' directory! Try building your app with 'next build' before starting the server.`
but `next build` returns error `command next not found` even thought it is included in script:
[code]

[2018-06-08 00:59] MeghanHughes commented on #110
(in relation to @Br3nda error message - I can't even get that far at the moment) according to the docs we need to add our version of

[code]

[2018-06-08 02:35] iainkirkpatrick commented on #110
hey all - i get the same error as @Br3nda when running `next export`, looks to me like the `account` page is erroring when trying to generate the static output (not really sure why, the only use of `.id` is on L44 of `pages/account` and it's inside an async function?) - might take some investigation to figure out why it's erroring. But running `npm run build` is working for me, so it's weird yours

[2018-06-08 02:46] MeghanHughes commented on #110
Alternatively, we can deploy to heroku instead of Github Pages?? Then we don't have to worry about doing a static build? @Br3nda?
We already have a deployment setup for the app through Heroku, though at the moment it is only deploying the service worker branch for PWA auditing.

[2018-06-08 05:01] Br3nda commented on #110
Could we be missing some `.env`?

[2018-06-08 05:02] Br3nda commented on #110
I'm very keen to get it compiling to plain files and not needing a process running. Then we have options on how we deploy it.

[2018-06-08 07:19] Br3nda commented on #110
@iainkirkpatrick `npm run build` doesn't produce errors. But it doesn't produce any html either. Or, i can't find any. It does make js and css and map files.

[2018-06-10 20:41] iainkirkpatrick commented on #110
@Br3nda @MeghanHughes  `npm run build` should just build the server + client-side bundle for a deployment, for exporting a static build we need to `npm run build` and then `npx next export` (we could have an npm script set up for this).

When I try this this morning though I get the same error you encountered above regarding `Cannot read property 'id' of undefined` in `account.js`. I'm aiming to w

[2018-06-10 23:46] MeghanHughes commented on #40
Hey @Br3nda do I have rights to add to the database? I am just testing the CRUD methods and I am getting a 401 trying to POST to the whare route
eg
[code]

[2018-06-12 03:41] Br3nda commented on #40
Most home CRUD methods require you to be the owner or janitor
I've been testing as a janitor -- but looks like users can't create their own homes.
I can have a look at the policies. If you wanted to change them yourself that's cool too - it's this file:
https://github.com/WhareHauora/wharehauora-server/blob/master/app/policies/home_policy.rb

[2018-06-12 04:25] MeghanHughes opened #130 "Account access for Iain"
Kia ora @Br3nda could you please set @iainkirkpatrick  up with account access? The same one you gave me access to if that's ok?
His email address is iain@rootsystems.nz

[2018-06-12 09:54] Br3nda commented on #130
Sure thing. I can make an admin user for you too.

[2018-06-12 09:58] Br3nda commented on #130
I've invited Iain to your home's whanau

I also made a full admin account for Janie (I'm improvising - lemme know if you want me to make someone else).

[2018-06-12 11:29] janie-t opened #132 "Whare & Rooms Page > List of all the registered Whare"
Under the Rooms List, need a rendered list of Whare, above the Add Whare button.

[2018-06-12 11:30] janie-t opened #133 "Whare & Rooms view > Cancel Add room or Add whare forms"
When Add Room or Add Whare button clicked, opens a form -  the Cancel button on each of these needs to close the form.

[2018-06-12 11:37] janie-t commented on #40
@MeghanHughes are you going to change that home_policy.rb doc?

[2018-06-12 11:38] janie-t opened #134 "Dashboard > room summary > "Learn how to fix this""
'Learn how to fix this' not doing anything right now - do you want this removed for the time being?

[2018-06-12 11:40] janie-t opened #135 "Room detail > Health Warning > "Learn how to fix this""
"Learn how to fix this" does nothing - want it removed for now?

[2018-06-12 11:41] janie-t opened #136 "Room detail > Health Warning > Dismiss Alert"
"Dismiss Alert" link needs to hide the warning when clicked

[2018-06-12 11:41] janie-t opened #137 "Room detail > Health Warning > Image"
The health warning modal needs a relevant/appropriate image

[2018-06-12 11:42] janie-t commented on #68
The graph is not implemented at this stage - should remove from app for now?

[2018-06-12 11:45] janie-t opened #138 "Room detail < Summary at bottom < Disconnect from room"
"disconnect from room" needs to delete the room?

[2018-06-12 11:48] janie-t opened #139 "Whare & rooms > Add Room Form > When submitted creates a new room"
The form needs to submit to database and create a new room

[2018-06-12 11:49] janie-t opened #140 "Whare & rooms > Add whare form > When submitted creates a new whare"
When submitted needs to add a whare to the Whare List

[2018-06-12 11:50] janie-t opened #141 "Whare & rooms > Edit icon (pencil) > When clicked can edit rooms list"
Editing of rooms list needs to be implemented onClick of editing icon (pencil)

[2018-06-12 11:51] janie-t opened #142 "Whare & rooms > Edit Whare List icon (pencil) > When clicked can edit whare list"
Needs implementing

[2018-06-12 11:52] janie-t opened #143 "Whanau view > styling > laptop and bigger screen"
Styling needs sorting out so can see whanau names on laptop view.

[2018-06-12 11:53] janie-t opened #144 "Whanau view > Cancel/delete button"
When clicked on, the cancel button removes a person from that whare

[2018-06-12 11:55] janie-t opened #145 "My Account view > Form"
Can submit Name, email, password etc and save changes or cancel will clear form.

[2018-06-12 11:55] janie-t opened #146 "My Account view > Preferences"
Any checkboxes ticked/unticked the preferences can be saved

[2018-06-12 11:56] janie-t opened #147 "Help view"
No page setup for this - remove for now?

[2018-06-12 11:56] janie-t opened #148 "Logout button"
Clicking on this should take user back to Login screen, with the login form cleared.

[2018-06-12 11:57] janie-t opened #149 "English and other languages selection"
This is not implemented - remove for now?

[2018-06-12 11:58] Br3nda commented on #138
I think updating the sensor to have room_id to null is what you want.

[2018-06-12 12:03] Br3nda commented on #122
A high dew point usually meams they have high humidity too. So okay humidity with high dewpoint might be unusual to see.

[2018-06-12 22:52] #130 closed

[2018-06-12 22:53] #88 closed

[2018-06-12 22:54] #96 closed

[2018-06-12 22:56] MeghanHughes commented on #140
@Br3nda @Kamikazilady
Just want to confirm that for this target we aren't letting users create new homes? As they will be manually set up anyway?

[2018-06-12 22:57] MeghanHughes commented on #139
@Br3nda @Kamikazilady
As for users adding new rooms - needed or no for this target? We actually already have the POST call working but it requires users to have access. Which for now - not needed?

[2018-06-12 23:05] Br3nda commented on #139
Is "user has access" a block somewhere?

[2018-06-12 23:08] Br3nda commented on #140
I think we need to. Someone needs to modify the permissions policy on the server to let them do that. I hope to find a moment Thursday night. But if you can edit the Ruby and run locally before that, please go ahead.

[2018-06-12 23:08] MeghanHughes commented on #139
How do you mean @Br3nda?

[2018-06-12 23:10] MeghanHughes commented on #140
You sent me some info about - I was going to check it out this morning @Br3nda

[2018-06-12 23:11] MeghanHughes commented on #40
I'm going to look into it now @janie-t

[2018-06-12 23:22] MeghanHughes commented on #40
ahhhhhhhhh no lolol - had a look but don't want to touch it. @Br3nda let me know when you've had a chance to give users access and I will just make sure the methods are set up my end.

[2018-06-13 05:25] MeghanHughes opened #151 "trigger notification event from server"
Hi @Br3nda can we get a server induced sensor reading which will trigger a push notification?  @iainkirkpatrick is ready to test!

[2018-06-13 06:06] MeghanHughes commented on #87
@iainkirkpatrick check out this thread.

[2018-06-13 06:08] MeghanHughes commented on #52
Also this one @iainkirkpatrick - longer to read but further discussion on a user table

[2018-06-13 08:28] MeghanHughes commented on #68
It's set up on this branch, and @Br3nda has created an api route for a week's readings. https://github.com/WhareHauora/App/tree/mh/sensorGraph

It needs some work, as documented in #41

[2018-06-13 08:35] janie-t commented on #110
npm run build   THEN npm run export = creates a static build folder called "Out" which you can upload to a static host site. e.g. callous-flower.surge.sh

[2018-06-13 08:38] janie-t commented on #110
I was able to build this from the current Development branch.  the npm run build, then npm run export creates a build folder called 'out'

[2018-06-13 08:58] MeghanHughes opened #153 "Adding symbols"
A degree sign and a percentage symbol are needed on the RoomSummary component in the `dashboard`

[2018-06-13 09:31] janie-t opened #154 "Whanau list > Render dynamic names of whanau members"
Currently hard coded names

[2018-06-13 09:34] MeghanHughes opened #155 "edit room details"
![fireshot capture 1 - - http___localhost_3000_setup_rooms](https://user-images.githubusercontent.com/22287063/41342929-75ea3326-6f51-11e8-85f6-c43f82c343dc.png)
 Is this info necessary on the edit room modal??

[2018-06-13 10:00] MeghanHughes opened #157 "room and whare types"
These aren't rendering now in summary components - need to fix

![fireshot capture 2 - - http___localhost_3000_dashboard](https://user-images.githubusercontent.com/22287063/41344168-8efe380a-6f54-11e8-8cb7-78af48c39d97.png)

Shouldn't be `rooms` should be `living room` or whatever.

as in

![fireshot capture 3 - dashboard - http___wharesensors co_wharehauora-frontend_dashboard html](https://user-i

[2018-06-13 10:30] janie-t opened #158 "Whare & rooms > Rooms table > render dynamic sensor data"
Currently hard coded

[2018-06-13 11:07] janie-t commented on #158
Have removed the sensor data for now

[2018-06-13 11:10] janie-t opened #159 "My Account > Cancel account button"
What does this button actually do when clicked?

[2018-06-13 22:54] MeghanHughes commented on #157
https://documenter.getpostman.com/view/3560032/wharehauora/RVnb9wYN#490dfd8a-ab27-6673-9af6-f48b9660eaca

[2018-06-13 23:13] MeghanHughes opened #160 "fix styling on edit room form"
The edit room form is stuck on using half the space and it looks weird and ugly!

Here is the component: https://github.com/WhareHauora/App/blob/mh/editThings/components/profile/setUp/EditRoomForm.js

Which sits insidehttps://github.com/WhareHauora/App/blob/mh/editThings/components/profile/setUp/RoomRow.js

which is held in https://github.com/WhareHauora/App/blob/mh/editThings/components/profile/s

[2018-06-14 02:09] janie-t commented on #160
I think it looks fine.

[2018-06-14 03:55] #94 closed

[2018-06-14 03:55] #153 closed

[2018-06-18 03:20] MeghanHughes opened #166 "Dynamic routes AGAIN"
@Kamikazilady I am just registering an issue here with the individual room profiles not rendering - the bug slipped in merging the notifications branch. I'm on it now to fix

[2018-06-18 03:28] MeghanHughes commented on #166
Hey @iainkirkpatrick any idea why `this.registerServiceWorker` is erroring?

[2018-06-18 03:45] MeghanHughes commented on #166
all fixed

[2018-06-18 03:45] #166 closed

[2018-06-18 12:41] Kamikazilady commented on #135
No - we're getting content from Sustainability trust

[2018-06-18 12:42] Kamikazilady commented on #134
No - we're getting content from sustainability trust

[2018-06-18 12:43] Kamikazilady commented on #155
If it works, leave there, if it doesnt comment out

[2018-06-18 22:12] MeghanHughes opened #169 "Notifications"
- [ ] Subscribing twice?
 - [ ] Users can dismiss alert for a set period of time (24 hours, 48 hours)
 - [ ] Add readings to alert
 - [ ] New set of notifications informing user when the earlier notified room has reached safe levels.

[2018-06-19 02:06] Br3nda opened #170 "Development branch no longer starts"
Someting changed today -- and now i can no longer get the `Development` branch to run `npm run dev`

Any ideas???
[code]
[code]

[2018-06-19 07:14] MeghanHughes commented on #170
the vapid keys are in the .env file and are called in `worker.js` (which is just about to be reviewed in a pull request).

"Use of VAPID for push requests is optional, but primarily a security benefit. Application servers use VAPID to identify themselves to the push servers so push subscriptions can be properly restricted to their origin app servers. In other words, VAPID could theoretically preve

[2018-06-19 07:18] MeghanHughes commented on #170
There is a postgres database sitting between the app and Heroku which records who has enabled push notifications. This is so if the Ruby server goes down, or if there is an update, that data isn't lost (because it would sit client-side) and require all users to re-register. If the push notifications are triggered from the Ruby server (which I believe is what is expected in the longer run with it m

[2018-06-19 07:22] MeghanHughes commented on #170
[code]

This is the part in `pages/dashboard` that encodes the vapid key to a Uint8Array (this is what your error message refers to)

[2018-06-19 08:19] Br3nda commented on #170
Sweet. So I just need to generate some keys according to that blog post. How about that goes in the README?

[2018-06-19 08:55] iainkirkpatrick commented on #169
thoughts:
- b) this feels ore complex than the others... after talking to @MeghanHughes sounds like new UI options in the notification itself, which redirect to a room / whare page. from there some UI to select 'muting' notifications for that room / whare for some period of time. Actually just had a thought that then to enforce that selection at the db level, we could just (for now) have another t

[2018-06-19 08:58] MeghanHughes commented on #170
The keys are already generated and are in the .env - this is where we ran into trouble a little while ago when you pointed out we had our .env file hanging out in the repo. Now we are handing over to you, I will add the instructions for generating the keys and you can add new ones

[2018-06-19 09:00] MeghanHughes commented on #170
I'll edit in a version of this https://github.com/web-push-libs/web-push
[code]

[2018-06-19 22:00] Br3nda commented on #170
it starts! :-D thanks.

[2018-06-19 22:00] #170 closed

[2018-06-19 22:07] MeghanHughes commented on #169
@Br3nda I found a better post explaining Web Push and VAPID https://blog.mozilla.org/services/2016/08/23/sending-vapid-identified-webpush-notifications-via-mozillas-push-service/
I have added a link into the README also

[2018-06-19 22:10] MeghanHughes commented on #169
Hey @anna-marie-vos could you have a think about the steps to achieve d) ??

[2018-06-20 02:49] Br3nda commented on #139
you said "it requires users to have access" <-- i'm trying to work out if you're asking for users that you don't have. Is this blocked?

[2018-06-20 04:35] MeghanHughes commented on #139
Ah - no, I expected to be able to add rooms to my whare, but my req was returning a 401.

Here's the request:
[code]

in `App/components/profile/setUp/AddRoomForm.js`

I wondered if users were allowed to POST a new room to the db

[2018-06-21 02:20] Br3nda commented on #139
```2018-06-21T02:19:42.685435+00:00 app[web.1]: Internal Server Error: undefined method `owner_id' for nil:NilClass /app/app/policies/room_policy.rb:57:in `owner?'
2018-06-21T02:19:42.685437+00:00 app[web.1]: /app/app/policies/room_policy.rb:23:in `create?'
[code]

[2018-06-25 00:28] #151 closed

[2018-06-25 00:30] MeghanHughes commented on #148
Currently the log out button is not functioning.

When the user clicks on the home icon, it acts to log them out, but the app is set up to automatically log the user back in again. This is to avoid having the user sign in every time they open the PWA.

[2018-06-25 00:38] #133 closed

[2018-06-25 00:39] #121 closed

[2018-06-30 10:48] ararat commented on #159
Cancel will just clear the form.

[2018-07-03 00:33] Br3nda commented on #148
@meghanhughes I know you described some of this to me at handover. Can you brain dump anything more on how to implement this.

[2018-07-19 11:54] janie-t commented on #148
Do you want the Whare Hauora logo to also log a user out?  In current merge request it takes user back to Dashboard.

[2018-07-19 20:13] Br3nda commented on #148
No, the dashboard is perfect

[2018-07-20 02:42] dependabot[bot] opened #220 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-07-20 07:14] #220 closed

[2018-07-21 01:41] #143 closed

[2018-07-21 01:42] #144 closed

[2018-07-21 04:10] #148 closed

[2018-07-21 06:40] janie-t opened #226 "Dashboard > General message about room health > 'Learn how to fix this' display/hide"
If the room msg is OK then don't show link to "Learn how to fix this"

[2018-07-25 08:59] #226 closed

[2018-07-25 09:21] #159 closed

[2018-07-25 09:22] #157 closed

[2018-07-25 10:50] #147 closed

[2018-07-25 10:51] #135 closed

[2018-07-25 10:52] #134 closed

[2018-07-25 10:54] #27 closed

[2018-07-29 03:58] Br3nda opened #233 "App crashes to black screen if user's home has no rooms yet"

[2018-11-13 02:42] dependabot[bot] opened #244 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.